# .npmrc

# Restrict registry access to the official npm registry
registry=https://registry.npmjs.org/

# Only allow authenticated users to publish packages
always-auth=true

# Never change this restrict, We never publish at local, Only at GitHub
# Set the access level to "restricted" to prevent accidental publishing
# access=restricted